---
layout: page
title: Nach Alphabet
permalink: /alphabet/
---

{% assign letters = "" | split: ',' %}
{% assign letter = "" | split: ',' %}
{% assign letterPost = "" | split: ',' %}

<!-- Aufbau der benutzten Buchstaben -->
{% for post in site.posts %}
    {% assign letter = post.autor_nn | slice:0 %}
    {% assign letters = letters | push: letter | uniq | sort %}
{% endfor %}

<div><style>button { margin-bottom: 10px; }</style>
  <button class="waves-effect waves-light btn" onClick="expandAll();"><i class="mdi mdi-chevron-double-down left"></i>Expand</button>
  <button class="waves-effect waves-light btn" onClick="collapseAll();"><i class="mdi mdi-chevron-double-up left"></i>Collapse</button>
</div>

<div class="post-category">
  {% for letter in letters %}
    
    {% assign sortedPosts = "" | split: ',' %}
      
    {% for post in site.posts %}
        {% assign letterPost = post.autor_nn | slice:0 %}

        {% if letterPost == letter %}
                {% assign sortedPosts = sortedPosts | push: post %}
        {% endif %}
    {% endfor %}   

   
    <a id="{{ letter }}" class="section scrollspy"></a>      <!-- TODO for position-->

    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active">
          <span class="capitalize" style="font-size: 18px;">{{ letter }}</span>
          <a class="waves-circle btn-floating right waves-effect waves-green white"><span class="pink-text">{{ sortedPosts.size }}</span></a>
        </div>        

        <div class="collapsible-body">
          {% for post in sortedPosts %}{% if post.title != null %}
          <ul>
            <li>
              {{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;>>&nbsp;&nbsp;<a class="category-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          </ul>
          {% endif %}{% endfor %}
        </div>
      </li>
    </ul>
  {% endfor %}
</div>

