---
layout: page
title: Nach Bewertung
permalink: /bewertung/
---

<div><style>button { margin-bottom: 10px; }</style>
  <button class="waves-effect waves-light btn" onClick="expandAll();"><i class="mdi mdi-chevron-double-down left"></i>Expand</button>
  <button class="waves-effect waves-light btn" onClick="collapseAll();"><i class="mdi mdi-chevron-double-up left"></i>Collapse</button>
</div>

{% assign star_array = "" | split: ',' %}
{% assign postArray = "" | split: ',' %}
{% assign bewertungArray = "" | split: ',' %}

  {% for post in site.posts %}
    {% if post.bewertung != null %}
      {% assign star_array = star_array | push: post.bewertung | uniq %}

      <% assign postArray = postArray | push: post.title %>
      <% assign bewertungArray = bewertungArray | push: post.bewertung %>

        {% case post.bewertung %}
          {% when 5 %}{% increment five %}     
          {% when 4 %}{% increment four %}
          {% when 3 %}{% increment three %}     
          {% when 2 %}{% increment two %}
          {% when 1 %}{% increment one %}
        {% endcase %}

    {% endif %}
  {% endfor %}
        
<% for item in bewertungArray %>
  <% if item == '5' %>
    post: {{ postArray[forloop.index0] }} <br>
  <% endif %>
<% endfor %>

<div class="post-category">
  {% for star in star_array %}
    <a id="{{ star }}" class="section scrollspy"></a>      <!-- TODO for position-->

    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active">
          <span class="capitalize" style="font-size: 18px;">{{ star }} Sterne</span>
          <a class="waves-circle btn-floating right waves-effect waves-green white"><span class="pink-text">            
        {% case star %}
          {% when 5 %}{{ five }}     
          {% when 4 %}{{ four }}
          {% when 3 %}{{ three }}     
          {% when 2 %}{{ two }}
          {% when 1 %}{{ one }}
        {% endcase %}            
            </span></a>
        </div>

        <div class="collapsible-body">
          {% for star in post.bewertung[star] %}{% if post.title != null %}
          <ul>
            <li>
              {{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;>>&nbsp;&nbsp;<a class="category-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          </ul>
          {% endif %}{% endfor %}
       </div>
      </li>
    </ul>
  {% endfor %}
</div>
