---
layout: page
title: Nach Datum
permalink: /date/
---

<div><style>button { margin-bottom: 10px; }</style>
  <button class="waves-effect waves-light btn" onClick="expandAll();"><i class="mdi mdi-chevron-double-down left"></i>Expand</button>
  <button class="waves-effect waves-light btn" onClick="collapseAll();"><i class="mdi mdi-chevron-double-up left"></i>Collapse</button>
</div>

{% assign years = "" | split: ',' %}
{% assign yearPost = "" | split: ',' %}

<!-- Aufbau der benutzten Jahre -->
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% assign years = years | push: currentdate | uniq | reverse %}
    {% assign date = currentdate %} 
  {% endif %}
{% endfor %}

        
<div class="post-category">
  {% for year in years %}
  
  {% assign sortedPosts = "" | split: ',' %}
      
    {% for post in site.posts %}
        {% assign yearPost = post.date | date: "%Y" %}

        {% if yearPost == year %}
                {% assign sortedPosts = sortedPosts | push: post %}
        {% endif %}
    {% endfor %} 

  
    <a id="y{{ year }}" class="section scrollspy"></a>      <!-- TODO for position-->

    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">
          <span class="capitalize" style="font-size: 18px;">{{ year }}</span>
          <a class="waves-circle btn-floating right waves-effect waves-green white"><span class="pink-text">{{ sortedPosts.size }}</span></a>
        </div>        

        <div class="collapsible-body">
          {% for post in sortedPosts %}{% if post.title != null %}
          <ul>
            <li>
              {{ post.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;>>&nbsp;&nbsp;<a class="category-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          </ul>
          {% endif %}{% endfor %}
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
