---
layout: default
---

<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="post-section">

    <p class="grey-text">
      <i class="mdi mdi-calendar"></i>&nbsp;
      {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% else %}unknown{% endif %}            
      {% if page.verlag and page.jahr %}&nbsp;&nbsp;<i class="mdi mdi-book"></i>&nbsp;{{ page.verlag }}&nbsp; {{ page.jahr }}{% else %}{{ page.verlag }}{% endif %}
     
      &nbsp;&nbsp;<i class="mdi mdi-folder-multiple"></i>&nbsp;
      <span class="capitalize">
        {% if page.categories %}{% for category in page.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% else %}unknown
        {% endif %}
      </span>
      <!--
      &emsp;<i class="mdi mdi-refresh"></i>&nbsp;UPDATE: {% if page.update %}{{ page.update | date: "%b %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%b %-d, %Y" }}{% endif %}
      -->
      </p>
    
    {% assign ueberschrift = post.autor_nn | append: ', ' | append: post.autor_vn |  append: ' - ' | append: post.buchtitel %}

    <div class="post-header">
      <h1 class="post-title">{{ ueberschrift }}</h1>  
          {% if page.bewertung %}
            <div>
             {% for i in (1..5) %}       
                {% if i <= page.bewertung %}<i class="post-tag mdi mdi-star waves-effect waves-light"></i>
                {% else %}<i class="post-tag mdi mdi-star-outline waves-effect waves-light"></i>
                {% endif %}    
             {% endfor %}
            </div>
          {% endif %}
    </div>
    
    <article class="post-content">
      {{ content | toc_generate }}
    </article>
    
      {% if page.tags != "" %}
        <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
        {% for tag in page.tags %}
        <span class="chip">{{ tag }}</span>
        {% endfor %}
      {% endif %}

  </div>
  </div>
</div>
